@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
    background: #000;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    overflow: hidden;
}

.btnripple{
    background-color: royalblue;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* top&bottom left&right */
    padding: 20px 30px;
    border: 1px solid royalblue;

    /* top&bottom left&right */
    margin: 0 10px;

    overflow: hidden;

    position: relative;
}

.btnripple .circle{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 100%;

    position: absolute;

    top: 50%;
    left: 50%;

    /* x ဝန်းရိုးကော y ဝန်းရိုးကို translate လုပ်ပေးရမှာ/နုတ်မှာမို့လို့
    x ကအနောက်ဆုတ်ချင်တော့(left ဘက်သွားချင်တော့) minus value/y ကပေါ်ပြန်တက်ချင်တော့ minus value
    စလာထဲကပျောက်စေချင်လို့ scale 0 ဆိုပြီပေးလိုက်တာ  */
    transform: translate(-50%,-50%) scale(0);

    animation: myscale;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    /* animation timing function is same as transition */
}

/* focus is pseudo class */
.btnripple:focus{
    outline: 0;
}

@keyframes myscale {
    to{
        transform: translate(-50%,-50%) scale(3);
        opacity: 0;
    }
}